
<div class="observation-gauge-group"><article class="observation-gauge-item"><div class="observation-gauge"><div class="observation-gauge-graph"><div id="gauge-temperature" data-climate="Temp" data-unit="c" data-temperature="15.6" style="width: 144px; height: 72px;"></div></div></div><h4 class="observation-gauge-value">
                    15.6 &deg;C                    Now                                    </h4><p class="observation-gauge-subvalue">
                        Feels Like                        15.3 &deg;C                    </p></article><article class="observation-gauge-item"><div class="observation-gauge-wind"><!-- 180 is put as an offset to flip the arrow to correctly point away to the source of the wind --><svg class="observation-gauge-wind-direction" style="transform: rotate(427deg)"  width="80" height="80" viewBox="0 0 80 80" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path id="a" d="M47.5 72.646L40 64l-7.5 8.646H37V80h6v-7.354z"/></defs><g fill="none" fill-rule="evenodd"><circle stroke="#035" stroke-width="4" cx="40" cy="40" r="34"/><!-- Show only wind direction arrow when there is wind direction --><circle stroke="#035" stroke-width="4" cx="40" cy="40" r="34"/><use fill="#FFF" xlink:href="#a"/><path stroke="#010101" d="M46.404 72.146L40 64.763l-6.404 7.383H37.5V79.5h5v-7.354h3.904z"/></g></svg><figure class="observation-gauge-wind-spinner"><b class="wind-blade" data-unit="2.06"></b><b class="wind-shield"></b></figure></div><h4 class="observation-gauge-value">
                    7.4km/h                    WSW                                            <i class="trend trending-down"></i></h4><p class="observation-gauge-subvalue">
                        9.3km/h                        Wind Gust                    </p></article><article class="observation-gauge-item"><div class="observation-gauge"><div class="observation-gauge-graph"><div id="gauge-rainfall" data-climate="Rainfall" data-unit="mm" data-rainfall="0" style="width: 144px; height: 72px;"></div></div></div><h4 class="observation-gauge-value">
                    1.4mm                    Today                </h4><p class="observation-gauge-subvalue"></p></article></div><ul class="observation-list"><li class="observation-item"><span class="observation-item-title">
                Pressure            </span><span class="observation-item-value">
                1019.8 hPa                                    <i class="trend trending-down"></i></span></li><li class="observation-item"><span class="observation-item-title">
                Dew Point            </span><span class="observation-item-value">
                13.3 &deg;C                            </span></li><li class="observation-item"><span class="observation-item-title">
                Relative Humidity            </span><span class="observation-item-value">
                86%                            </span></li><li class="observation-item"><span class="observation-item-title">
                Cloud            </span><span class="observation-item-value">
                2 oktas                                    <i class="trend trending-down"></i></span></li><li class="observation-item"><span class="observation-item-title">
                Delta T            </span><span class="observation-item-value">
                1.3 &deg;C                            </span></li></ul><div id="lastUpdatedDateTime" data-difference="Updated 15 mins ago (11:50 pm)"></div>

<div id="gauge-rainfall" data-climate="Rainfall" data-unit="mm" data-rainfall="0" style="width: 144px; height: 72px;">